.cd-main-content {
    position: relative;
    min-height: 100vh;
    padding: 0 17px;
}

.cd-main-content:after {
    content: "";
    display: table;
    clear: both;
}



/* xtab-filter */

.cd-tab-filter-wrapper {
    background-color: #ffffff;
    z-index: 1;
}

.cd-tab-filter {
    width: 100%;
    margin: 0 40px;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
}

.cd-tab-filter ul {
    padding: 0;
}

.cd-tab-filter li {
    display: inline-block;
}

.cd-tab-filter a {
    color: #ACACAC;
    font-family: 'Lato', sans-serif;
    padding: 0 0.5em;
    width: auto;
    color: #ACACAC;
    font-size: 1rem;
    display: inline-block;
}

.cd-tab-filter a:hover {
    text-decoration: none;
    color: #303030;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.cd-tab-filter a.selected {
    background: transparent;
    color: #626262;
}


/* xgallery  */

.cd-gallery {
    width: 100%;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    padding: 10px 10px 0 10px;
}

.cd-gallery ul {
    text-align: justify;
    padding-right: 40px;
}

.cd-gallery ul:after {
    content: "";
    display: table;
    clear: both;
}

.cd-gallery li {
    margin-bottom: 1.6em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    display: none;
    margin-bottom: 2em;
}

.cd-gallery li.gap {
    /* used in combination with text-align: justify to align gallery elements */
    opacity: 0;
    height: 0;
    display: inline-block;
}

.cd-gallery img {
    display: block;
    width: 100%;
}

.cd-gallery .cd-fail-message {
    display: none;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .cd-gallery li {
        width: 48%;
        padding-right: 10px;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-gallery li {
        width: 23%;
    }
}