header {
    nav {
        background-color: #fff;
        a.navbar-brand {
            color: #303030;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            letter-spacing: 2px;
            padding: 30px 50px 10px 50px;
        }
        ul.navbar-nav {
            padding: 30px 50px 10px 50px;
        }
        a.nav-link {
            color: #9A9A9A;
            font-family: 'Lato', sans-serif;
            letter-spacing: 0.5px;
        }
        a.active {
            color: #979797;
        }
    }
}

div.wave {
		padding-left: 63px;
		padding-bottom: 30px;
    .wave1 {
        margin-top: 110px;
        width: 15rem;
        height: 6px;
        background-size: 12px 12px;
        background-repeat: repeat-x;
        background-image: linear-gradient(135deg, transparent 45%, #E3E3E3, transparent 60%), linear-gradient(45deg, transparent 45%, #E3E3E3, transparent 60%);
    }
    .wave2 {
        margin-top: 3px;
        width: 15rem;
        height: 6px;
        background-size: 12px 12px;
        background-repeat: repeat-x;
        background-image: linear-gradient(135deg, transparent 45%, #E3E3E3, transparent 60%), linear-gradient(45deg, transparent 45%, #E3E3E3, transparent 60%);
    }
}