* {
  outline: none;
}
body {
  font-family: "蘋方-繁", "微軟繁黑體-標準", "微軟繁黑體-粗體", "微軟正黑體",
    sans-serif;
}
.pd10 {
  padding-left: 10%;
  padding-right: 10%;
}
header nav {
  background-color: #fff;
}
header nav a.navbar-brand {
  color: #303030;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 30px 50px 10px 50px;
}
@media (max-width: 450px) {
  header nav a.navbar-brand {
    padding: 15px 20px;
  }
}
header nav button.navbar-toggler {
  border: none;
  padding: 30px 50px 10px 50px;
}
@media (max-width: 450px) {
  header nav button.navbar-toggler {
    padding: 15px 20px;
  }
}
header nav ul.navbar-nav {
  padding: 30px 50px 10px 50px;
}
@media (max-width: 767px) {
  header nav ul.navbar-nav {
    text-align: right;
    background-color: #f9f9f9;
    padding-bottom: 30px;
  }
}
@media (max-width: 450px) {
  header nav ul.navbar-nav {
    padding: 20px;
  }
}
header nav a.nav-link {
  color: #9a9a9a;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.5px;
}
header nav a.nav-link:hover {
  color: #676767;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
header nav a.active {
  color: #979797;
}
div.wave {
  padding: 10px 50px 30px 50px;
}
@media (max-width: 450px) {
  div.wave {
    padding: 1px 20px 10px 20px;
  }
}
div.wave .wave1 {
  margin-top: 110px;
  width: 15rem;
  height: 6px;
  background-size: 12px 12px;
  background-repeat: repeat-x;
  background-image: linear-gradient(
      135deg,
      transparent 45%,
      #e3e3e3,
      transparent 60%
    ),
    linear-gradient(45deg, transparent 45%, #e3e3e3, transparent 60%);
}
@media (max-width: 450px) {
  div.wave .wave1 {
    width: 6rem;
  }
}
div.wave .wave2 {
  margin-top: 3px;
  width: 15rem;
  height: 6px;
  background-size: 12px 12px;
  background-repeat: repeat-x;
  background-image: linear-gradient(
      135deg,
      transparent 45%,
      #e3e3e3,
      transparent 60%
    ),
    linear-gradient(45deg, transparent 45%, #e3e3e3, transparent 60%);
}
@media (max-width: 450px) {
  div.wave .wave2 {
    width: 6rem;
  }
}
.works-content .cd-main-content {
  position: relative;
  min-height: 100vh;
  padding: 10px 50px;
}
@media (max-width: 450px) {
  .works-content .cd-main-content {
    padding: 20px;
  }
}
.works-content .cd-main-content:after {
  content: "";
  display: table;
  clear: both;
}
.works-content .cd-tab-filter-wrapper {
  background-color: #fff;
  z-index: 1;
}
.works-content .cd-tab-filter {
  width: 100%;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
}
.works-content .cd-tab-filter ul {
  padding: 0;
}
.works-content .cd-tab-filter li {
  display: inline-block;
}
.works-content .cd-tab-filter a {
  font-family: "Lato", sans-serif;
  padding-right: 0.5em;
  width: auto;
  color: #acacac;
  font-size: 1rem;
  display: inline-block;
}
@media (max-width: 450px) {
  .works-content .cd-tab-filter a {
    font-size: 0.9em;
    padding-right: 0.3em;
  }
}
.works-content .cd-tab-filter a:hover {
  text-decoration: none;
  color: #303030;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.works-content .cd-tab-filter a.selected {
  background: transparent;
  color: #626262;
}
.works-content .cd-gallery {
  background-color: #fff;
  width: 100%;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  padding: 5px 0;
}
.works-content .cd-gallery ul {
  text-align: justify;
  padding: 10px 0;
}
.works-content .cd-gallery ul:after {
  content: "";
  display: table;
  clear: both;
}
.works-content .cd-gallery li {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  display: none;
  margin-bottom: 2em;
}
.works-content .cd-gallery li.gap {
  opacity: 0;
  height: 0;
  display: inline-block;
}
.works-content .cd-gallery img {
  display: block;
  width: 100%;
}
.works-content .cd-gallery .cd-fail-message {
  display: none;
  text-align: center;
}
@media (min-width: 768px) {
  .works-content .cd-gallery li {
    width: 48%;
  }
  .works-content .cd-gallery ul {
    text-align: justify;
  }
}
@media (min-width: 1170px) {
  .works-content .cd-gallery li {
    width: 23%;
  }
}
.works-content .cd-gallery button {
  padding: 0;
  background-color: #fff;
}
.works-content .cd-gallery button:hover {
  border: 1px solid #ececec;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.works-content .cd-gallery figcaption {
  padding-top: 8px;
}
.works-content .cd-gallery p {
  font-size: 0.9em;
  margin-top: 5px;
}
.works-content .cd-gallery p a {
  color: #626262;
}
.works-content .cd-gallery p a:hover {
  text-decoration: none;
  color: #7c7c7c;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.works-content .cd-gallery .logotype p {
  padding: 1em;
}
.works-content .cd-gallery .modal-header h5 {
  text-align: left;
}
@media (max-width: 350px) {
  .works-content .cd-gallery .modal-header h5 {
    font-size: 0.9em;
    padding-top: 5px;
  }
}
.works-content .cd-gallery .modal-body img {
  padding-bottom: 1em;
}
.works-content .cd-gallery .modal-body .video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin: 0 0 1em 0;
}
.works-content .cd-gallery .modal-body .video-container iframe,
.works-content .cd-gallery .modal-body .video-container object,
.works-content .cd-gallery .modal-body .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.works-content .cd-gallery .x-btn {
  line-height: 2.5;
  padding: 25px;
  width: 30px;
}
.works-content .cd-gallery .close-btn {
  margin: auto;
  width: 100%;
}
.works-content .cd-gallery .close-btn:hover {
  border: 1px solid #fff;
}
.works-content .cd-gallery .btn:hover {
  border-radius: 0.3rem;
  border-color: #fff;
}
.about-content .row {
  padding: 10px 50px;
  min-height: 70vh;
  font-family: "Lato", sans-serif;
}
@media (max-width: 450px) {
  .about-content .row {
    padding: 20px;
  }
}
.about-content img {
  padding-bottom: 15px;
}
.about-content h6 {
  color: #191919;
  line-height: 1.5;
}
.about-content p {
  color: #9a9a9a;
  font-size: 0.9em;
  line-height: 1.6;
}
.photo-content .row {
  padding: 10px 50px;
  font-family: "Lato", sans-serif;
}
.photo-content .img-fluid {
  width: 100%;
}
@media (max-width: 450px) {
  .photo-content .row {
    padding: 20px;
  }
}
.photo-content .row ul {
  margin-bottom: 20px;
  padding-left: 0;
  margin-bottom: 10px;
}
.photo-content .row ul p {
  margin-bottom: 0;
}
.photo-content .row ul li {
  list-style: none;
}
@media (max-width: 767px) {
  .photo-content .row ul li {
    display: inline-block;
    padding: 5px 5px 0 0;
  }
}
.photo-content .row ul li a {
  color: #9a9a9a;
}
.photo-content .row ul li a:hover {
  text-decoration: none;
  color: #cdcdcd;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.photo-content .row ul li a.active {
  color: #cdcdcd;
}
.photo-content .row img {
  padding-bottom: 10px;
}
.photo-content .row .col-sm-10 .row {
  padding: 0;
}
.photo-content .row .col-sm-10 .row .square-1 {
  padding-right: 5px;
}
@media (max-width: 575px) {
  .photo-content .row .col-sm-10 .row .square-1 {
    padding-right: 15px;
  }
}
.photo-content .row .col-sm-10 .row .square-2 {
  padding-left: 5px;
}
@media (max-width: 575px) {
  .photo-content .row .col-sm-10 .row .square-2 {
    padding-left: 15px;
  }
}
footer {
  background-color: #303030;
  padding: 30px 0;
  font-size: 90%;
}
footer .col-sm-8 {
  color: #f2f2f2;
  font-weight: 300;
  padding: 0;
}
@media (max-width: 575px) {
  footer .col-sm-8 {
    padding: 0 20px;
    text-align: center;
  }
}
footer .col-sm-4 {
  color: #f2f2f2;
}
@media (max-width: 575px) {
  footer .col-sm-4 {
    text-align: center;
    padding-top: 15px;
  }
}
footer .col-sm-4 a .social-icon {
  width: 40px;
  padding-left: 7px;
  padding-right: 7px;
}
@media (max-width: 575px) {
  footer .col-sm-4 a .social-icon {
    width: 45px;
  }
}
